body{
	padding-top: 60px;
}
td{
	padding-right:.75em;
	padding-top:.35em;
	border-bottom: solid .1em Maroon;
}

.content-wrapper{
	background: rgba(255, 255, 255, .9);
	padding: 1em;
}
.content-wrapper,.first{
	margin-bottom:3em;
}
.list-wrapper{
	padding-left:2em;
}
.content-wrapper li{
	display:block;
	padding:.25em;
	font-size: 200%;
}

.book-description p{
	display:block;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: .4em;
	padding-bottom: .4em;
	font-size: 200%;
}
.book-description p:first_child{
	padding-left:4.5em;
}
.book-description>{
	padding-top: 2em;
}

