{% include 'main_top.html' %}
<h2>Books</h2>
<table>
	<tbody>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Pub. Date</th>
			<th>Genre</th>
		</tr>
    {% for book in object_list %}
    	<tr>
        	<td><a href="/bookshelf/book/{{book.id}}">{{ book.title }}</a></td>
        	<td>
                {% for author in book.writers.all %}
                    {% if forloop.first and forloop.last %}
                        {{author}} 
                    {% else %}{% if not forloop.last %}
                        {{author}}, 
                    {% else %}
                        and {{author}} 
                    {% endif %}{% endif %}
                {% endfor %}
        	</td>
        	<td>{{ book.pub_date }}</td>
        	<td>{{ book.genre }}</td>
        </tr>
    {% endfor %}
</table>
{% include 'main_bottom.html' %}
